body{
    margin: 0;
    padding: 0;
    height: 4637.75px;
}

p {
    font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#headerContainerPositionFixed{
    /* background-color: yellow; */
    position: fixed;
    width: 100%;
    z-index: 9;
    transition: 300ms ease-in-out;
}


.header{
    background-color: #FFFFFF;
    height: 57.6px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-left{
    background-color: #FFFFFF;
    width: 178.8px;
    height: 57.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-left-items{
    background-color: #FFFFFF;
    width: 146.8px;
    height: 40px;
    margin: 0px 0px 0px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Hambuger-menu{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid transparent;
    background-color: #FFFFFF;
}
.Hambuger-menu:hover{
    background-color: #b3d4fc;
    cursor: pointer;
}

.quran-logo {
    margin-top: 1px;
}

.header-right{
    background-color: rgb(255, 255, 255);
    width: 192px;
    height: 57.6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-account{
    background-color: #FFFFFF;
    height : 40px;
    width : 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-account:hover {
    background-color: #b3d4fc;
    cursor: pointer;
}

.header-languages{
    background-color: #FFFFFF;
    height : 40px;
    width : 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-languages:hover {
    background-color: #b3d4fc;
    cursor: pointer;
}
.header-settings{
    background-color: #FFFFFF;
    height : 40px;
    width : 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-settings:hover {
    background-color: #b3d4fc;
    cursor: pointer;
}
.header-search{
    background-color: #FFFFFF;
    height : 40px;
    width : 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-search:hover {
    background-color: #b3d4fc;
    cursor: pointer;
}

.index-main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 650px;
    width: 100%;
}

.index-main-focus{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-main-focus-bgImg{
    height: 159px;
    width: 100%;
    position: absolute;
    background-color: rgb(34, 165, 173);
    margin-top: 14px;
    background-image: url(ChapterImages/background.webp);
    background-size: cover;
    z-index: -1;
}

.index-main-focus-centerContainer{
    background-color: rgba(0, 0, 0, 0);
    height: 101px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.index-main-focus-whiteButton {
    background-color: rgb(255, 255, 255);
    height: 57px;
    width: 60vw;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
}

.index-main-focus-whiteButton:hover {
    box-shadow:  0px 5px 10px 1px rgba(53, 114, 117, 0.315);
    cursor: pointer;
    color: black;
}


.whiteButton-leftSection {
    background-color: rgba(255, 238, 0, 0);
    width: 245.98px;
    height: 24.36px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.whiteButton-searchIcon {
    color: #888888a9;
}

.whiteButton-placeholder {
    font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
    font-size: 17px;
    color: rgba(102, 102, 102, 0.932);
}

.whiteButton-rightSection{
    background-color: rgba(255, 0, 0, 0);
    width: 93.3px;
    height: 40px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whiteButton-kbdContainer {
    background-color: rgba(135, 207, 235, 0);
    width: 53.3px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #88888825;
    border-radius: 4px;
}

.kbd {
    font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3540000916;
    color: #272727;
}

.micContainer:hover{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #ced4da;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10;
}
.index-main-focus-endContainer {
    background-color: rgba(255, 166, 0, 0);
    height: 38px;
    width: 410.95px;
    margin-bottom: 2px;
}

.aboutLinkContainer {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 38px;
    width: 410.95px;

}

.indexShortLinks {
    font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    color: white;
}

.indexShortLinks:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.137);
    border-radius: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    opacity: 50%;
}

.index-main-aboveLink{
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.updateLinkbox {
    height: 50.36px;
    width: 80%;
    border-radius: 5px;
    background-color: rgb(235, 249, 250);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.quranicCalenderUpdate{
    color: #272727;
    font-weight: 600;
    margin-left: 15px;
    font-size: 16px;
    font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
    
}
.quranicCalenderUpdate:hover{
    opacity: 60%;
}

.quranGrowthJouneyWrapper {
    height: 255.31px;
    width: 80%;
    border-radius: 5px;
    background-color: rgb(235, 249, 250);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.quranGrowthJourneyHeadingWrapper {
    background-color: rgba(238, 130, 238, 0);
    height: 43.31px;
    width: 97.5%;
    margin-top: 2.7px; 
}

.quranGrowthJourneyHeading{
    font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
    font-size: 30px;
    margin-top: 2px;
    font-weight: 600;
    color: rgb(44, 164, 171);
    
} 
.customQuranReadingContainer{
    height: 84px;
    width: 97.5%;
    border-radius: 5px;
    border: solid 1px rgba(44, 165, 171, 0.151);
    background-color: rgba(255, 255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.customQuranReadingBox {
    height: 90%;
    width: 98%;
    background-color: rgba(0, 0, 139, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customQuranReadingLeft{
    width: 244.94px;
    height: 100%;
    background-color: rgba(0, 128, 0, 0);
}

.customQuranReadingLeftUp {
    height: 45%;
    width: 100%;
    background-color: rgba(139, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customQuranReadingLeftDown {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: end;
}

.createGoalButton {
    height: 36px;
    width: 112.16;
    border-radius: 3px;
    border: none;
    background-color: rgb(44, 164, 171);
}

.createGoalButton:hover {
    background-color: white;
    .createGoalText {
        color: rgb(44, 164, 171);
    }
}

.createGoalText {
    color: white;
    font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
    font-weight: 600;
    font-size: 15px;
    padding: 4px 3px;
}

.customQuranReadingText{
    font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
    font-size: 15.5px;
    font-weight: 100;
}

.customQuranReadingRight {
    width: 15px;
    height: 21.66px;
    background-color: rgba(172, 255, 47, 0);
    margin-right: 5px;
}

.customQuranReadingRight:hover {
    cursor: pointer;
}

.learningPlanContainer{
    background-color: rgba(238, 130, 238, 0);
    border: solid 1px rgba(44, 165, 171, 0.151);
    border-radius: 5px;
    height: 84px;
    width: 97.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learningPlanBox {
    height: 90%;
    width: 98%;
    background-color: rgba(0, 0, 197, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.learningPlanleft {
    width: 140.78px;
    height: 100%;
    background-color: rgba(0, 255, 0, 0);
}

.learningPlanLeftUp {
    height: 45%;
    width: 100%;
    background-color: rgba(139, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.learningPlanText {
    font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
    font-size: 15.5px;
    font-weight: 100;
}

.learningPlanLeftDown {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: end;
}

.learningPlanRight {
    width: 15px;
    height: 21.66px;
    background-color: rgba(172, 255, 47, 0);
    margin-right: 5px;
}

.recentlyReadWrapper {
    height: 94.25px;
    width: 80%;
    background-color: rgba(137, 43, 226, 0);
}

.recentlyReadWrapperTop {
    height: 40%;
    width: 100%;
    border-bottom: solid 1px #00000011;
    background-color: rgba(255, 217, 0, 0);
    display: flex;
    align-items: center;
}
.recentlyReadBox {
    height: 100%;
    width: 111.97px;
    background-color: rgba(178, 34, 34, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid black 2px;
}
.recentlyReadBox:hover{
    cursor: pointer;
}

.bookmarksBox {
    margin-left: 5px;
    height: 100%;
    width: 90.83px;
    background-color: rgba(18, 0, 85, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmarksBox:hover{
    cursor: pointer;
}

.recentlyReadWrapperBottom {
    height: 60%;
    width: 100%;
    background-color: rgba(86, 134, 71, 0);
    display: flex;
    align-items: center;
    justify-content: left;
}

.alfathihahRecent {
    color: black;
    font-size: 15px; 
    font-weight: 600;
    font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
    
}


.surahsIndexContainer {
    height: 20px;
    width: 82%;
    background-color: rgba(255, 166, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sectionTabsContainer {
    height: 36.66px;
    width: 97.5%;
    background-color: rgba(0, 0, 255, 0);
    border-bottom:solid 1px #27272726;
    display: flex;

}
.surahTab {
    width: 52.45px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-bottom:2px solid  black ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.juzTab {
    margin-left: 5px;
    width: 35.89px;
    height: 100%;
    background-color: rgba(255, 238, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.revelationTab {
    margin-left: 5px;

    width: 129.89px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sortByContainer {
    height: 43px;
    width: 97.5%;
    background-color: rgba(255, 0, 0, 0);
}

.sortByContainer{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.sortByBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
    width: auto;
    background-color: rgba(137, 43, 226, 0);
}

.sortByText{
    font-size: smaller;
}

.chapterBox {
    /* background-color: rgba(255, 255, 0, 0.975); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px #27272726;
    height: 90px;
}
.chapterBox:hover{
    border: solid 1px #2ca4ab;
    .chapterBoxLeftLeftDiamond{
        border: none;
        background-color: #2ca4ab;
    }
    .chapterBoxLeftLeftNum{
        color: white;
    }
    .surahNameTranslate{
        color: #2ca4ab;
    }
    .noOfAyahs{
        color: #2ca4ab;
    }

}

.chapterbox1{
    height: 53%;
    width: 90%;
    /* background-color: rgba(0, 0, 255, 0.908); */
    display: flex;
    justify-content: space-between;
}

.chapterBoxLeft {
    width: 60%;
    height: 40px;
    /* background-color: rgba(0, 139, 139, 0.801); */
    display: flex;
    justify-content: space-between;
}

.chapterBoxLeftLeft{
    width: 45%;
    height: 100%;
    /* background-color: rgba(76, 0, 130, 0.859); */
}
.chapterBoxLeftLeftDiamond{
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.119);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: rotate(45deg);
}

.chapterBoxLeftLeftNum {
    transform: rotate(-45deg);
    font-weight: 1000;
}

.chapterBoxLeftRight {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* background-color: rgba(188, 103, 0, 0.686); */
}

.chapterBoxLeftRightUp {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.surahNameReal{
    font-size: auto;
    font-weight: bold;
}

.chapterBoxLeftRightDown {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
}

.surahNameTranslate {
    font-size: 60%;
    font-weight: 900;
    color: rgb(31, 107, 111);
}

.chapterBoxRight {
    /* background-color: rgba(255, 106, 0, 0.852); */
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.chapterBoxRightUp {
    height: 50%;
    /* background-color: #00bc06dc; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.surahImage{
    height: 20px;
}

.chapterBoxRightDown {
    height: 50%;
    width: 100%;
    /* background-color: #000f64c4; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.noOfAyahs{
    color: rgba(28, 175, 183, 0.735);
    font-size: 10px;
    font-weight: 700;
}

.footer {
    height: 490.82px;
    width: 100%;
    /* background-color: #be0000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 20px;
}

.footerMain{
    width: 80%;
    height: 67%;
    /* background-color: rgba(137, 43, 226, 0.757); */
    display: flex;
    justify-content: space-between;
}

.footerMainleft{
    width: 37%;
    height: 100%;
    background-color: #2ca5ab00;
}

.footerMainLeftUp{
    height: 51%;
    width: 100%;
    background-color: rgba(128, 255, 0, 0);
}

.footerMainLeftUpHeadingContainer{
    height: 15%;
    width: 100%;
    background-color: rgba(0, 0, 139, 0);
}

.footerMainLeftUpHeadingBox{
    height: 80%;
    width: 100%;
    background-color: #76767600;
}

.footerMainLeftUpQuoteContainer {
    width: 100%;
    height: 12%;
    background-color: rgba(0, 100, 0, 0);
}
.footerMainLeftUpQuoteText{
    font-size: 17;
}

.footerMainLeftUpParagraphContainer{
    width: 100%;
    height: 70%;
    margin-top: 10px;
    /* background-color: rgba(233, 150, 122, 0.881); */
}

.footerMainLeftUpParagraphText{
    font-size: 16;
    color: rgb(127, 65, 65);
    line-height: 120%;
}

.footerMainLeftDown{
    /* background-color: rgba(202, 186, 159, 0.808); */
    width: 100%;
    height: 43%;
    
}

.footerMainLeftDownHiringContainer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(242, 255, 0, 0.79); */
    border-radius: 5px;
    margin-top: 20px;
}

.footerMainLeftDownHiringText{
    width: 90%;
}

.footerMainRight{
    width: 44%;
    height: 100%;
    background-color: rgba(128, 255, 0, 0);
    display: flex;
    justify-content: space-between;

}

.footerMainRightFirst{
    height: 95%;
    width: 25%;
    background-color: rgba(165, 42, 42, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerMainRightHeadingContainer{
    height: 9%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-direction: column;
    font-size: 19px;
    font-weight: 900;
}

.footerMainRightFirstListContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2ca5ab00;
    height: 80%;
}

.footerMainRightHeadingContainer{
    height: 9%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;  
    flex-direction: column;
}

.footerAllRightsContainerMain{
    background-color: #2ca5ab00;
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footerAllRightsContainerMainLeft{
    height: 55%;
    width: 50vw;
    /* background-color: rgba(128, 255, 0, 0.819); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footerAllRightsContainerMainLeftUp{
    display: flex;
    justify-content: space-around;
    /* background-color: #272727da; */
    height: 2vw;
    width: 10rem;
}

.footerAllRightsContainerMainLeftDown{
    margin-top: 10px;
}

.footerAllRightsContainerMainRight{
    height: 60px;
    width: 17pc;
    /* background-color: #ff0000f8; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.themeButton{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: black solid 1px ;
    border-radius: 5px;

}
.themeName{
    margin-top: 19px;
}

@media (max-width:1024px) {
    .footer {
    height: 90vw;
    width: 100%;
    /* background-color: #be0000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .footerMain{
        width: 80%;
        height: 67%;
        /* background-color: rgba(137, 43, 226, 0.757); */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footerMainleft{
        width: 100%;
        height: 100%;
        background-color: #2ca5ab00;
    }

    .footerMainLeftUpParagraphContainer{
        width: 100%;
        height: 70%;
        /* background-color: rgba(233, 150, 122, 0.881); */
    }
    
    .footerMainLeftUpParagraphText{
        font-size: 16;
        color: rgb(127, 65, 65);
        line-height: 120%;
        margin-top: 20px;
    }
    
    .footerMainLeftDown{
        /* background-color: rgba(202, 186, 159, 0.808); */
        width: 100%;
        height: 43%;
        
    }
    
    .footerMainLeftDownHiringContainer{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgba(242, 255, 0, 0.79); */
        border-radius: 5px;
        margin-top: 25px;
    }
    
    .footerMainLeftDownHiringText{
        width: 90%;
    }

    .footerMainRight{
        width: 80vw;
        height: 100%;
        /* background-color: rgba(128, 255, 0, 0.904); */
        display: flex;
        justify-content: space-between;
    
    }
    
    .footerMainRightFirst{
        height: 95%;
        /* background-color: rgb(165, 42, 42); */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 3,1fr;
    }
    
    .footerMainRightHeadingContainer{
        height: 9%;
        width: 100%;
        /* background-color: rgba(0, 0, 255, 0.637); */
        display: flex;
        flex-direction: column;
    }
    
    .footerMainRightFirstListContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: #2ca5ab; */
        height: 80%;
    }

    .footerAllRightsContainerMain{
        /* background-color: #2ca5ab; */
        width: 80%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
}

@media (max-width:768px) {
    .index-main-focus-whiteButton {
        width: 90vw; 
    }
    .whiteButton-placeholder{
        font-size: 13px;
    }
    .footerAllRightsContainerMain{
        margin-top: 30px;
        /* background-color: crimson; */
    }
}

@media (max-width:576px) {
    .footer{
        height: 50pc;
        /* background-color: rgb(76, 0, 15); */

    }
    .footerAllRightsContainerMain{
        margin-top: 50px;
        height: 30pc;
        /* background-color: crimson; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (max-width:425px) {
    .quranicCalenderUpdate{
        font-size: small;
    }

    .footer {
        font-size: 80%; 
        height: 180vw;
        width: 100%;
        /* background-color: #be0000; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerMain{
        width: 80%;
        height: 67%;
        /* background-color: rgba(137, 43, 226, 0.757); */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footerMainleft{
        width: 100%;
        height: 100%;
        background-color: #2ca5ab00;
    }

    .footerMainLeftUpParagraphContainer{
        width: 100%;
        height: 70%;
        /* background-color: rgba(233, 150, 122, 0.881); */
        font-size: 10em;
        color: black;
        margin-bottom: 70px;
    }

    .footerAllRightsContainerMain{
        /* background-color: #2ca5ab; */
        margin-top: 30vw;
        width: 100%;
        height: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footerAllRightsContainerMainLeft{
        height: 55%;
        width: 60vw;
        /* background-color: rgba(128, 255, 0, 0.819); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}

@media (max-width:375px) {
    .aboutLinkContainer {
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 38px;
        width: 80vw;
    }
    .index-main-focus-endContainer{
        height: 38px;
        width: 80vw;
    }
    .indexShortLinks {
        font-size: 12px;
    }

    .quranGrowthJourneyHeading{
        font-size: 6.8vw;
        font-weight: 900;
    }

    .footerMain{
        width: 80%;
        height: 140vw;
        /* background-color: rgba(137, 43, 226, 0.757); */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footerMainRightFirstLink{
        font-size: 3vw;
    }

    .footerMainRightHeadingContainer{
        font-size: 3vw;
        font-weight: 900;
    }

    .footerMainLeftUpParagraphText{
        font-size: 16;
        color: rgb(127, 65, 65);
        line-height: 120%;
        margin-top: 10vw;
    }
}

@media (max-width:320px) {
    .aboutLinkContainer {
        /* background-color: rgba(0, 0, 0, 0); */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 38px;
        width: 100vw;
    }   
    .index-main-focus-endContainer {
        /* background-color: rgba(255, 166, 0, 0); */
        height: 38px;
        width: 100vw;
        margin-bottom: 2px;
    }
    .indexShortLinks {
        font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
        font-size: 12px;
    }
    .footer{
        height: 50pc;
        /* background-color: rgb(76, 0, 15); */

    }
    .footerMainLeftDownHiringContainer{
        margin-top: 25px;
    }

    .footerMainLeftDownHiringText{
        margin-top: 10px;
    }

    .footerMainLeftDown {
        /* background-color: rgba(202, 186, 159, 0.808); */
        width: 100%;
        height: 15pc;
    }
    .footerAllRightsContainerMain{
        margin-top: 172px;
        height: 10pc;
        /* background-color: crimson; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .header-left-items{
        /* background-color: #272727; */
        margin: 0px 0px 0px 5px;
    }

}